/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import 'https://fonts.googleapis.com/css?family=Mada:400,900|Noto+Sans:400,700';
$base-font: "Noto Sans", "Helvetica", "sans-serif";
$header-font: "Mada", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #b82128;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee


.content-card {
  overflow: hidden;
  padding-bottom: 30px;
  background-color: white;
  z-index: 99999;
  max-width: 700px;
  max-height: 700px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 3pt;
}

body {
  padding: 0 10px;
  background: linear-gradient(90deg, rgba(184,236,231,0.6) 0%, rgba(175,227,222,0.6) 50%);
}
