<p>
 Lars is a 25 year old graduate Communication and Multimedia Design at the Hogeschool van Amsterdam. During his studies he specialized in UX design and content production.
 <br><br>
 After graduating he completed the <a href="http://lewagon.org/">Le Wagon</a> coding bootcamp. Currently Lars is teaching at Le Wagon in Amsterdam and Brussels.
</p>