  <div class="links">
    <%= link_to "about", "#", "data-target" => '#about', class:"link active"  %>
    <%= link_to "info","#", "data-target" => '#info', class:"link" %>
    <%= link_to "contact","#", "data-target" => '#contact', class:"link"  %>
  </div>