<p>
  Hi there! Nice to meet you, be sure to drop me a line through the contact form.
  <br>
  Currently I'm working as a programming teacher but my interests and skills vary and include topics ranging from design to copywriting and, ofcourse, programming. 
</p>
<p>
  I'm still working on this portfolio, I come by from time to time to experiment with stuff I think is cool. It might never truly get finished because I come across a lot of cool stuff.
</p>
<p>
  Groetjes!
</p>