/* -------------------------------------
 * Your CSS code for flash notices and alerts
 * ------------------------------------- */

 .flash-wrapper {
  position: absolute;
  width: 100%;
}

.alert {
  width: 300px;
  margin: 80px auto;
  text-align: center;
  color: white;
  border: none;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
